<!DOCTYPE html>

<!--타임리프 템플릿 지정-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>this page is places</p>
    <ul>
        <li>
            placeType : <span th:text="${placeType} ?:_">?</span>
        </li>
        <li>
            placeName : <span th:text="${placeName} ?:_">?</span>
        </li>
        <li>
            Address : <span th:text="${address} ?:_">?</span>
        </li>
    </ul>
</body>
</html>